html, body{
  height: 90%;
  background-color: white;
}
#header{
  display: flex;
  flex-direction: row;
}
#header > *, #header button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: stretch;
  margin: 0;
  border: 2px solid;
  background-color: white;
  transition: .3s;
}
#header button:hover{
  background-color: lightskyblue;
}
#saveMContainer{
  position: relative;
  display: inline-block;
  text-align: center;
  transition: .3s;
}
#saveM{
  display: none;
  position: absolute;
  transition: .3s;
}
.saveOption{
  display: block;
  width: 100%;
}
#saveMContainer:hover #saveM{
  display: block;
  z-index: 2;
  /* top: 100%; */
}
#gglSignIn{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}
#timeline{
  display: block;
  position: relative;
  height: 90%;
  width: 100%;
}
#sidebar{
  outline: 2px solid;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  transition: .3s;
}
#sidebar > input{
  margin-left: 1px;
}
#sidebar > #buttons{
  display: flex;
  justify-content: center;
}
#periodEditForm{
  display: none;
}
#periodEditForm > h2, #optionsContainer > h2{
  text-align: center;
  margin: auto 0;
}
#options{
  position: absolute;
  background-color: white;
  z-index: 2;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  border: 2px solid;
  box-sizing: border-box;
}
#options.open{
  visibility: initial;
  opacity: 1;
}
#options > button{
  display: block;
  margin: auto ;
}
#main{
  height: 100%;
  padding: 3px;
  transition: .3s;
}
.timePeriod{
  /* display: inline-flex; */
  position: absolute;
  box-sizing: border-box;
  border: 1.5px solid;
  background-color: white;
  white-space: nowrap;
}
.timePeriod.hidden{
  display: none;
}
.timePeriod:hover{
  outline: 2px solid lightskyblue;
  cursor: pointer;
}
.timePeriod.editing{
  border: 1.5px solid lightskyblue;
  cursor: pointer;
}
#timelineContainer{
  display: flex;
  position: relative;
  overflow-x: clip;
  outline: 2px solid;
  background-color: white;
  height: 100%;
}